/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
*.log
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
.DS_Store
Thumbs.db
auth.json
Homestead.json
Homestead.yaml
/.fleet
/.nova
/.zed
